sentry_dsn: ""
zmarkdown_sentry_dsn: ""

secrets:
  gandi: ""
  facebook:
    key: ""
    secret: ""
  twitter:
    key: ""
    secret: ""
  google:
    key: ""
    secret: ""
  google_analytics_api:
    project_id: ""
    private_key_id: ""
    private_key: ""
    client_email: ""
    client_id: ""
    client_x509_cert_url: ""

mysql:
  name: ""
  user: ""
  password: ""
